<% include partials/header %>

<ul>

<h1>About</h1>

<h3>Overview</h3>

Dreamify is a social platform created to help people bring their dreams to life. 

<h3>Our Mission</h3>

To build the world of our dreams while helping people live the life of their dreams.  

<h3>Our Commitment</h3>

We will create a safe and respectful place for EVERYONE to co-exist. 

<h3>What Are Dreams</h3>

Dreams are things that uplift and inpsire us to create a better world for everyone. 

Dreams bring us joy and happiness and empower us and the people around us. 

Dreams unite us, they lift our spirits, and they make us better.

<h3>Our Guiding Principles</h3>

     <UL>  
        <h5><a href="/productbox"><li>We All Dream</li></a></h5>
        <h5><a href="/comments"><li>All Dreams Are Equal</li></a></h5>
        <h5><a href="/comments"><li>Dreams Make Us All Better</li></a></h5>
        <h5><a href="/comments"><li>Dreams Unite Us</li></a></h5>
    </UL>

<h3>Our Community</h3>

Our community is made up people from all over the world who believe in our values and our mission. 

To learn more about all of the members that make up our community, click on the appropriate link below.

<h3>Basic Guidelines</h3>

     <UL>  
        <h5><a href="/productbox"><li>Do Our Actions Lift People Up?</li></a></h5>
        <h5><a href="/comments"><li>Do Our Actions Bring People Closer Together?</li></a></h5>
        <h5><a href="/comments"><li>Do Our Actions Make the World A Better Place?</li></a></h5>
        <h5><a href="/comments"><li>Are Our Actions Holistic And Responsible?</li></a></h5>
        <h5><a href="/comments"><li>Do Our Actions Make Us Proud?</li></a></h5>
    </UL>

<p> </p>

<h3>Community Values</h3>

<ul>

<h5>Be Positive</h5>

The world can be a negative place. On our platform we aspire to make the world a bit more positive. 

<h5>Be Inclusive</h5>

No matter your race, gender, background, or sexual preference, we all have dreams and those dreams are equality valuatble. 

<h5>Be Respectful</h5>

Everyone deserves to be respected equality. We may not agree with one another all of the time, but we can respect each other all of the time.

<h5>Be Caring</h5>

When appropriate we strive to do our best to make others lives better by being caring. 

<h5>Be Honest</h5>

We strive towards creating a open and honest community where people can feel welcomed and safe. 

</ul>

<h3>Terms</h3>

     <UL>  
        <h5><a href="/dreamscape"><li>DreamScape</li></a></h5>
        <h5><a href="/dreamiverse"><li>Dreamiverse</li></a></h5>
        <h5><a href="/dreamweb"><li>DreamWeb</li></a></h5>
    </UL>

<p>
    
    
</p>


<% include partials/footer %>
