<% include partials/header %>

<h1>Products</h1>

<ul>
    <h5><a href="/corporate"><li>Corporate</li></a></h5>
    <h5><a href="/consumer"><li>Consumer</li></a></h5>
    <h5><a href="/enterprise"><li>Enterprise</li></a></h5>
    
    <p><h4>In Development</h4></p>

<ul>


</p>
<a href="/admin-panel">>>   Admin</a>
<p> 

</p>
<a href="/login">>>   Login</a>
<p> 

</p>
<a href="/register">>>   Signup</a>
<p> 

</p>
<a href="/logout">>>   Logout</a>
<p> 
</p>
  
<a href="/profile">>>  Profile</a>
<p>
  
</p>
<a href="/dreams">>>   Dreams</a>
<p>  
    
</p>
<a href="/events">>>   Events</a>
<p>
    
</p>
<a href="/experiences">>>   Experiences</a>
<p>
    
</p>
<a href="/videos">>>   Videos</a>
<p>
    
</p>
<a href="/posts">>>   Posts</a>


</p>
<a href="/meals">>>   Meals</a>

</p>
<a href="/dates">>>   Dates</a>

</ul>

</ul>

</ul>

<p>
    
    
</p>
    
    
    
</ul>

<% include partials/footer2 %>
