<% include partials/header %>

<img src="https://growtraffic-bc85.kxcdn.com/blog/wp-content/uploads/2019/05/AdSense-and-Other-Ads.jpg" class="img-responsive" style="width:100%">

<h1>AdSense by Dreamify</h1>

<% include partials/footer %>
