<% include partials/header %>
 
<img src="https://www.usnews.com/dims4/USNEWS/c4dd72c/2147483647/thumbnail/640x420/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2F2f%2F48%2F96ce515f412f9598bc88383009c6%2F1-intro-getty.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Adventures by Dreamify!</h1>
             <p>Explore the World</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Add New Dreams</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="/findadventures"><li>Find Adventures</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Culinary</li></a></h5>
        <h5><a href="/comments"><li>Active</li></a></h5>
        <h5><a href="/content"><li>Cultural</li></a></h5>
        <h5><a href="/ads"><li>Animals</li></a></h5>
        <h5><a href="/friends"><li>Boating</li></a></h5>
    </UL>

<% include partials/footer %>

