<% include partials/header %>

<img src="https://www.telegraph.co.uk/content/dam/technology/Spark/city-index/cryptocurrencies-xlarge.jpg?imwidth=1200" class="img-responsive" style="width:100%">

<h1>DreamBucks by Dreamify</h1>

<p></p>

<ul>

<h4>How It Works</h4>
<h4>Earning DreamBucks</h4>
<h4>Using DreamBucks</h4>

</ul>

<% include partials/footer %>
