<% include partials/header %>

<img src="https://www.mediagrouponlineinc.com/wp-content/uploads/2018/08/CreditCards_567634105-1000x640.jpg" class="img-responsive" style="width:100%">

<h1>Payments by Dreamify</h1>

<ul>

<h5><a href="/pay"><li>DreamPay</li></a></h5>
<h5><a href="/card"><li>DreamCard</li></a></h5>
<h5><a href="/bucks"><li>DreamBucks</li></a></h5>

</ul>

<% include partials/footer %>
