<% include partials/header %>

<h1>Video Categories!</h1>

<h3>Products</h3>
<h5><a href="/bestofdreamify"><li>Best of Dreamify</li></a></h5>
<h5><a href="/dreamerontherise"><li>Dreamer On the Rise</li></a></h5>
<h5><a href="/music"><li>Music</li></a></h5>
<h5><a href="/comedy"><li>Comedy</li></a></h5>
<h5><a href="/film&entertainment"><li>Film & Entertainment</li></a></h5>
<h5><a href="/gaming"><li>Gaming</li></a></h5>
<h5><a href="/beauty&fashion"><li>Beauty & Fashion</li></a></h5>
<h5><a href="/sports"><li>Sports</li></a></h5>
<h5><a href="/tech"><li>Tech</li></a></h5>
<h5><a href="/cooking&health"><li>Cooking & Health</li></a></h5>
<h5><a href="/politics"><li>Politics</li></a></h5>


<% include partials/footer %>
