<% include partials/header %>
 
<img src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/friends_main.jpg?itok=Wmh9VQWO" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to DreamClub by Dreamify!</h1>
             <p>Imagine What We Can Do Together</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Club</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="/courses"><li>About</li></a></h5>
        <h5><a href="/courses"><li>Tribe</li></a></h5>
        <h5><a href="/courses"><li>Merchants</li></a></h5>
        <h5><a href="/courses"><li>Hosts</li></a></h5>
        <h5><a href="/courses"><li>Partners</li></a></h5>
        <h5><a href="/courses"><li>Join</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Events</li></a></h5>
        <h5><a href="/comments"><li>Adventures</li></a></h5>
        <h5><a href="/content"><li>Experiences</li></a></h5>
        <h5><a href="/ads"><li>Local</li></a></h5>
        <h5><a href="/friends"><li>Goods</li></a></h5>
        <h5><a href="/trending"><li>Services</li></a></h5>
        <h5><a href="/productbox"><li>Sharing</li></a></h5>
        <h5><a href="/comments"><li>Travel</li></a></h5>
    </UL>

<% include partials/footer %>

