<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="/productbox">Product Box</a></li>
              <li class="list-group-item"><a href="/feed/comments">Comments</a></li>
              <li class="list-group-item"><a href="/content">Content</a></li>
              <li class="list-group-item"><a href="/ads">Ads</a></li>
              <li class="list-group-item"><a href="/friends">Friends</a></li>
              <li class="list-group-item"><a href="/trending">Trending</a></li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="feed_form">
                <h4>Hello Patriot</h4>
                <form>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> What's happening ?</textarea>
                  </div>
                  <div><button class="btn btn-primary pull-right">Share</button></div>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="card">
                      <div class="card-body">
                        Here is your first feed
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
