<% include partials/header %>

<h1>This Is Your Profile!</h1>

<h5>Add Your Picture Here >> </h5>

<h3>Products</h3>
<h5><a href="/feed"><li>Feed</li></a></h5>
<h5><a href="/dreams"><li>Dreams</li></a></h5>
<h5><a href="/info"><li>Info</li></a></h5>
<h5><a href="/settings"><li>Settings</li></a></h5>

<% include partials/footer %>
