<% include partials/header %>

<h2>Core</h2>

//DREAMIFY

<a href="/signup"><li>Signup</li></a>
<p> </p>
<a href="/login"><li>Login</li></a>
<p> </p>
<a href="/terms"><li>Terms</li></a>
<p> </p>
<a href="/locations"><li>Locations</li></a>
<p> </p>

<% include partials/footer %>
