<% include partials/header %>

<img src="https://image.marriage.com/blog/wp-content/uploads/2019/02/12-Tips-to-Following-during-Catholic-Dating.jpg" class="img-responsive" style="width:100%">

<html lang="en">
<head>
  <title>Dreamify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Introducing DreamDates by Dreamify!</h1>      
    <p>Find the Love of Your Life.</p>
  </div>
  
<p>
</p>

<ul>

<p><h4>DreamDates Will Help You</h4></p>

<ul>

<li>Organize your social life</li>
<p></p>
<li>Plan adventures with your friends</li>
<p></p>
<li>Share your dreams with the world</li>
<p></p>

</ul>

<a href="/profile">>>   Profile</a>
<p>


</ul>

</ul>

<p>
    
    
</p>
  
</div>

</body>
</html>

<% include partials/footer %>

