  <% include partials/header %>
  
  <img src="https://neilpatel.com/wp-content/uploads/2018/10/developers.jpg" class="img-responsive" style="width:100%">
  
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Dreamify Developers!</h1>
             <p>View our hand-picked events from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/events/new">Add New Event</a>
             </p>
         </div>
     </header>
                <UL> 
                
<h3>Products</h3>

                <h5><a href="/basicinfo"><li>Products</li></a></h5>
                <h5><a href="/basicinfo"><li>Programs</li></a></h5>
                <h5><a href="/basicinfo"><li>Links</li></a></h5>
                <h5><a href="/basicinfo"><li>Docs</li></a></h5>
                <h5><a href="/basicinfo"><li>Login</li></a></h5>
                
                <UL>


<% include partials/footer %>