<% include partials/header %>
 
<img src="https://pbs.twimg.com/media/Djcu_VEXcAIz16E.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Dreams by Dreamify!</h1>
             <p>View our hand-picked dreams from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Add New Dreams</a>
             </p>
         </div>
     </header>

    <UL>  
        <h5><a href="/productbox"><li>Featured Dreams</li></a></h5>
        <h5><a href="/comments"><li>Most Popular Dreams</li></a></h5>
        <h5><a href="/content"><li>Travel</li></a></h5>
        <h5><a href="/ads"><li>New Skills</li></a></h5>
        <h5><a href="/friends"><li>Outdoor</li></a></h5>
        <h5><a href="/trending"><li>Life Milestones</li></a></h5>
        <h5><a href="/productbox"><li>Do It Yourself</li></a></h5>
        <h5><a href="/comments"><li>Nature</li></a></h5>
        <h5><a href="/content"><li>Hiking</li></a></h5>
        <h5><a href="/ads"><li>Entertainment</li></a></h5>
        <h5><a href="/friends"><li>Sports</li></a></h5>
        <h5><a href="/trending"><li>Love</li></a></h5>
        <h5><a href="/comments"><li>Food</li></a></h5>
        <h5><a href="/content"><li>History</li></a></h5>
        <h5><a href="/ads"><li>Health</li></a></h5>
    </UL>

<% include partials/footer %>

