  <% include partials/header %>
  
  <img src="https://www.wrmf.com/wp-content/uploads/2020/03/iStock_ConcertCrowd_031220.jpg" class="img-responsive" style="width:100%">
  
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Events by Dreamify!</h1>
             <p>View our hand-picked events from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/events/new">Add New Event</a>
             </p>
         </div>
     </header>

                <UL> 

<h3>Products</h3>

        
                <h5><a href="https://www.eventbrite.com/manage/events/94349264189/basicinfo"><li>Basic Info</li></a></h5>
                <h5><a href="/basicinfo"><li>Details</li></a></h5>
                <h5><a href="/basicinfo"><li>Tickets</li></a></h5>
                <h5><a href="/basicinfo"><li>Dashboard</li></a></h5>
                <h5><a href="/basicinfo"><li>Payments</li></a></h5>
                
                <UL>
                    
                    <h5><a href="/basicinfo"><li>Payment Options</li></a></h5>
                    <h5><a href="/basicinfo"><li>Refund Policy</li></a></h5>
                    <h5><a href="/basicinfo"><li>Tax</li></a></h5>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Order Options</li></a></h5>
                
                <UL>
                
                    <h5><a href="/basicinfo"><li>Order Form</li></a></h5>
                    <h5><a href="/basicinfo"><li>Order Confirmation</li></a></h5>
                    <h5><a href="/basicinfo"><li>Event Type & Language</li></a></h5>
                    <h5><a href="/basicinfo"><li>Waitlist</li></a></h5>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Invite & Promote</li></a></h5>
                
                <UL>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Analyze</li></a></h5>
                
                <UL>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Manage Attendees</li></a></h5>
                
                <UL>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Apps</li></a></h5>
                
                <UL>
                
                </UL>
                
                <h5><a href="/basicinfo"><li>Privacy Settings</li></a></h5>
                
                <UL>
                
                <h5><a href="/profile"><li>Profile</li></a></h5>
                </UL>
                
                <UL>

                <h5><a href="/settings"><li>Settings</li></a></h5>

                </UL>


<% include partials/footer %>