<% include partials/header %>
 
<img src="https://miro.medium.com/max/2530/1*h8iuUmMVCy1s2SqLltjACA.jpeg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Experiences on Dreamify!</h1>
             <p>Explore the World of Experiences</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Experiences</a>
             </p>
         </div>
     </header>

<ul>
<h5><a href="/live-experiences"><li>Live Experiences</li></a></h5>
<h5><a href="/onlineexperiences"><li>Online Experiences</li></a></h5>


</ul>


<p>
    
    
</p>


<% include partials/footer %>
