<% include partials/header %>

<ul>

<h1>This Is Your Feed!</h1>

<h3>Products</h3>

<ul>

<h5><a href="/productbox"><li>Product Box</li></a></h5>
<h5><a href="/feed/comments"><li>Comments</li></a></h5>
<h5><a href="/content"><li>Content</li></a></h5>
<h5><a href="/ads"><li>Ads</li></a></h5>
<h5><a href="/friends"><li>Friends</li></a></h5>
<h5><a href="/trending"><li>Trending</li></a></h5>

</ul>

</ul>

<% include partials/footer %>
