<% include partials/header %>

<ul>

<h1>Consumer</h1>

<h3>Global</h3>

<UL>
    <a href="/news"><li>News</li></a>
    <p> </p>
    <a href="/adventures"><li>Adventures</li></a>
    <p> </p>
    <a href="/shops"><li>Shops</li></a>
    <p> </p>
    <a href="/school"><li>School</li></a>
    <p> </p>
    <a href="/trips"><li>Trips</li></a>
    <p> </p>
    <a href="/store"><li>Store</li></a>
    <p> </p>
    <a href="/payments"><li>Payments</li></a>
    <p> </p>
    <a href="/premium"><li>Premium</li></a>
</UL>


<% include partials/footer %>
