<% include partials/header %>
 
<img src="https://d2exqf27hvm6dn.cloudfront.net/wp-content/uploads/2019/03/nikon-inspiration-josh-beames-hero-banner.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Become An Inspirer!</h1>
             <p>Make It Your Mission to Uplift Humanity</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Add New Dreams</a>
             </p>
         </div>
     </header>

    <UL>  
        <h5><a href="/productbox"><li>Actors</li></a></h5>
        <h5><a href="/comments"><li>Athletes</li></a></h5>
        <h5><a href="/content"><li>Celebrities</li></a></h5>
        <h5><a href="/ads"><li>Consultants</li></a></h5>
        <h5><a href="/friends"><li>DJ's</li></a></h5>
        <h5><a href="/trending"><li>Directors</li></a></h5>
        <h5><a href="/productbox"><li>Entrepreneurs</li></a></h5>
        <h5><a href="/comments"><li>Entertainers</li></a></h5>
        <h5><a href="/content"><li>Educators</li></a></h5>
        <h5><a href="/ads"><li>Executives</li></a></h5>
        <h5><a href="/friends"><li>Models</li></a></h5>
        <h5><a href="/trending"><li>Musicians</li></a></h5>
        <h5><a href="/comments"><li>Singers</li></a></h5>
        <h5><a href="/content"><li>Speakers</li></a></h5>
        <h5><a href="/ads"><li>Writers</li></a></h5>
    </UL>

<% include partials/footer %>

