
<html lang="en">
	
<head>
  <title>Dreamify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheet/landing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dreamify</title>
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<header>
		<h2><a href="#">Dreamify</a></h2>
		<nav>
			<li><a href="#">Login</a></li>
			<li><a href="#">Signup</a></li>
		</nav>
	</header>
	
<body>
	<section class="hero">
		<div class="background-image" style="background-image: url(https://blog.theclymb.com/wp-content/uploads/2017/11/shutterstock_531278920.jpg);"></div>
	  <p></p>
		<h1>Live Your Dreams!</h1>
		<a href="http://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox/" class="btn">SignUp</a>
	</section>
</body>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Dreamify!</h1>      
    <p>Join A Global Community of Dreamers On A Mission to Uplift Humanity</p>
  </div>
  
<p>
</p>

<ul>

<p><h4>Dreamify Will Help You</h4></p>

<ul>

<li>Share Your Dreams With the World</li>
<p></p>
<li>Find People Who Will Support You In Bringing Your Dreams to Life</li>
<p></p>
<li>Inspire Others to Live the Life of Their Dreams</li>
<p></p>

</ul>

<h1>Sign Up In Only 10 Seconds!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

</div>

<% include partials/footer %>
