<% include partials/header %>

<img src="https://foodsecurecanada.org/sites/foodsecurecanada.org/files/marche-jean-talon-photo-jeangagnon.jpg" class="img-responsive" style="width:100%">


<ul>

<h1>Consumer</h1>

<h3>Local</h3>

<UL>
    <a href="/events"><li>Events</li></a>
    <p> </p>
    <a href="/experiences"><li>Experiences</li></a>
    <p> </p>
    <a href="/stays"><li>Stays</li></a>
    <p> </p>
    <a href="/restaurants"><li>Restaurants</li></a>
    <p> </p>
    <a href="/marketplace"><li>Marketplace</li></a>
    <p> </p>
    <a href="/spaces"><li>Spaces</li></a>
    <p> </p>
    <a href="/meals"><li>Meals</li></a>
    <p> </p>
    <a href="/rides"><li>Rides</li></a>
    <p> </p>
    <a href="/care"><li>Care</li></a>
    <p> </p>
    <a href="/dates"><li>Dates</li></a>
    <p> </p>
    <a href="/club"><li>Club</li></a>

</UL>

<% include partials/footer %>
