<% include partials/header %>
 
<img src="https://s31450.pcdn.co/wp-content/uploads/2019/06/rights-and-responsibilities-for-group-members-062819-2.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Members by Dreamify!</h1>
             <p>Explore Everyone Using Dreamify</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Members</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="https://www.podcastinsights.com/itunes-podcast-categories/"><li>Apple Podcast Categories</li></a></h5>
        <h5><a href="/courses"><li>Find Members</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/inspirers"><li>Inspirers</li></a></h5>
        <h5><a href="/comments"><li>Dreamers</li></a></h5>
        <h5><a href="/content"><li>Merchants</li></a></h5>
        <h5><a href="/ads"><li>Collaborators</li></a></h5>
        <h5><a href="/influencers"><li>Influencers</li></a></h5>
        <h5><a href="/creators"><li>Creators</li></a></h5>
        <h5><a href="/dreampreneurs"><li>Dreampreneurs</li></a></h5>
        <h5><a href="/productbox"><li>Supporters</li></a></h5>
        <h5><a href="/comments"><li>Followers</li></a></h5>
        <h5><a href="/comments"><li>Subscribers</li></a></h5>
        <h5><a href="/comments"><li>Backers</li></a></h5>
        <h5><a href="/freelancers"><li>Freelancers</li></a></h5>
        <h5><a href="/guides"><li>Guides</li></a></h5>
        <h5><a href="/hosts"><li>Hosts</li></a></h5>
    </UL>

<% include partials/footer %>

