<% include partials/header %>

<img src="https://home.sophos.com/en-us/medialibrary/Microsites/Home/SecurityCenter/ai-article-pic10.jpg" class="img-responsive" style="width:100%">

<h1>DreamMind</h1>

    <a href="https://deepmind.com"><li>DeepMind</li></a>
    <p> </p>
    
<% include partials/footer %>
