<% include partials/header %>
 
<img src="https://s.studiobinder.com/wp-content/uploads/2019/12/The-Best-Order-to-Watch-Marvel-Movies-Featured-StudioBinder.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Movies on Dreamify!</h1>
             <p>Explore the World of Movies</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Movies</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="/productbox"><li>Top Movies</li></a></h5>
        <h5><a href="/comments"><li>Recommended For You</li></a></h5>
        <h5><a href="/content"><li>Trending</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Action</li></a></h5>
        <h5><a href="/comments"><li>Adventure</li></a></h5>
        <h5><a href="/content"><li>Animations</li></a></h5>
        <h5><a href="/ads"><li>Biography</li></a></h5>
        <h5><a href="/friends"><li>Comedy</li></a></h5>
        <h5><a href="/trending"><li>Documentary</li></a></h5>
        <h5><a href="/productbox"><li>Drama</li></a></h5>
        <h5><a href="/comments"><li>Family</li></a></h5>
        <h5><a href="/content"><li>Fantasy</li></a></h5>
        <h5><a href="/ads"><li>History</li></a></h5>
        <h5><a href="/friends"><li>Music</li></a></h5>
        <h5><a href="/trending"><li>Musical</li></a></h5>
        <h5><a href="/comments"><li>Mystery</li></a></h5>
        <h5><a href="/friends"><li>Romance</li></a></h5>
        <h5><a href="/trending"><li>Sci-Fi</li></a></h5>
        <h5><a href="/comments"><li>Short</li></a></h5>
        <h5><a href="/comments"><li>Sports</li></a></h5>
        <h5><a href="/friends"><li>Thriller</li></a></h5>
        <h5><a href="/trending"><li>War</li></a></h5>
        <h5><a href="/comments"><li>Western</li></a></h5>
    </UL>

<% include partials/footer %>

