<% include partials/header %>
 
<img src="https://media.idownloadblog.com/wp-content/uploads/2018/03/Apple-Music-icon-002.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to DreamTunes by Dreamify!</h1>
             <p>Listen to the Rhythms of Your Choice</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Add New Dreams</a>
             </p>
         </div>
     </header>

    <UL>  
        <h5><a href="/productbox"><li>Classical</li></a></h5>
        <h5><a href="/comments"><li>Electronic</li></a></h5>
        <h5><a href="/content"><li>Funk/Soul</li></a></h5>
        <h5><a href="/ads"><li>Hip Hop</li></a></h5>
        <h5><a href="/friends"><li>Jazz</li></a></h5>
        <h5><a href="/trending"><li>Latin</li></a></h5>
        <h5><a href="/productbox"><li>Pop</li></a></h5>
        <h5><a href="/comments"><li>Raggae</li></a></h5>
        <h5><a href="/content"><li>Rock</li></a></h5>
        <h5><a href="/ads"><li>Speech</li></a></h5>
        <h5><a href="/friends"><li>Stage & Screen</li></a></h5>
        <h5><a href="/trending"><li>World</li></a></h5>
        <h5><a href="/comments"><li>Other</li></a></h5>
    </UL>

<% include partials/footer %>

