<% include partials/header %>

<img src="https://www.nationalgeographic.com/content/dam/travel/rights-exempt/SponsorContent/domestic/teddy/teddy_top-10-family-adventures-offset_692816.adapt.1900.1.jpg" class="img-responsive" style="width:100%">
 
<html lang="en">
<head>
  <title>Dreamify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Dreamify!</h1>      
    <p>Use Dreamify to live the life of your dreams.</p>
  </div>
  
<p>
</p>

  
</div>

</body>
</html>

<% include partials/footer %>

