<% include partials/header %>

<ul>

<h1>Consumer</h1>

<h3>Other</h3>

<UL>
    <a href="/moments"><li>Moments</li></a>
    <p> </p>
    <a href="/days"><li>Days</li></a>
    <p> </p>
    <a href="/nights"><li>Nights</li></a>
    <p> </p>
    <a href="/life"><li>Life</li></a>
    <p> </p>
    <a href="/cities"><li>Cities</li></a>
    <p> </p>
    <a href="/world"><li>World</li></a>
</UL>


<% include partials/footer %>
