<% include partials/header %>

<img src="https://i.insider.com/5d5ffc482e22af322a2541c2?width=1100&format=jpeg&auto=webp" class="img-responsive" style="width:100%">

<ul>

<h1>Consumer</h1>

<h3>Personal</h3>

<UL>
    
    <a href="/core"><li>Core</li></a>
    <p> </p>
    <a href="/profile"><li>Profile</li></a>
    <p> </p>
    <a href="/feed"><li>Feed</li></a>
    <p> 
    </p>
    <a href="/discover"><li>Discover</li></a>
    <p> </p>
 
</UL>


<% include partials/footer %>
