<% include partials/header %>
 
<img src="https://www.tekcrispy.com/wp-content/uploads/2019/06/app-podcast-mandarin-apple-china-640x360.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Podcasts by Dreamify!</h1>
             <p>Explore the World of Podcasts</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Podcasts</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="/"><li>Listen Now</li></a></h5>
        <h5><a href="/courses"><li>Browse</li></a></h5>
        <h5><a href="/courses"><li>Top Charts</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Comedy</li></a></h5>
        <h5><a href="/comments"><li>Health & Fitness</li></a></h5>
        <h5><a href="/content"><li>True Crime</li></a></h5>
        <h5><a href="/ads"><li>Science</li></a></h5>
        <h5><a href="/friends"><li>TV & Film</li></a></h5>
        <h5><a href="/trending"><li>Kids & Family</li></a></h5>
        <h5><a href="/productbox"><li>Government</li></a></h5>
        <h5><a href="/comments"><li>Society & Culture</li></a></h5>
        <h5><a href="/content"><li>Music</li></a></h5>
        <h5><a href="/ads"><li>Leisure</li></a></h5>
        <h5><a href="/friends"><li>News</li></a></h5>
        <h5><a href="/trending"><li>Business</li></a></h5>
        <h5><a href="/comments"><li>Arts</li></a></h5>
        <h5><a href="/friends"><li>History</li></a></h5>
        <h5><a href="/trending"><li>Technology</li></a></h5>
        <h5><a href="/comments"><li>Fiction</li></a></h5>
    </UL>

<% include partials/footer %>

