<% include partials/header %>

<h1>Products</h1>

<img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/cosmetics/cosmeticsdesign-europe.com/headlines/market-trends/consumer-behaviour-in-beauty-and-cosmetics-needs-technology-analysis-says-spark-emotions/11385032-1-eng-GB/Consumer-behaviour-in-beauty-and-cosmetics-needs-technology-analysis-says-Spark-Emotions_wrbm_large.jpg" class="img-responsive" style="width:100%">

<ul>
    <li><h3><a href="/consumer"><li>Consumer</li></a></h3></li> 

    <li><h5><a href="/personal"><li>Personal</li></a></h5></li> 
    <li><h5><a href="/social"><li>Social</li></a></h5></li> 
    <li><h5><a href="/local"><li>Local</li></a></h5></li> 
    <li><h5><a href="/global"><li>Global</li></a></h5></li> 
    <li><h5><a href="/other"><li>Other</li></a></h5></li> 

<img src="https://blogs.thomsonreuters.com/answerson/wp-content/uploads/sites/3/2017/09/Corporate-Boards-800x450.jpg" class="img-responsive" style="width:100%">
    
    <li><h3><a href="/enterprise"><li>Enterprise</li></a></h3></li> 

    <li><h5><a href="/consumer"><li>Personal</li></a></h5></li> 
    <li><h5><a href="/consumer"><li>Social</li></a></h5></li> 
    <li><h5><a href="/consumer"><li>Local</li></a></h5></li> 
    <li><h5><a href="/consumer"><li>Global</li></a></h5></li> 
    <li><h5><a href="/consumer"><li>Other</li></a></h5></li> 

</ul>

<% include partials/footer %>
