<% include partials/header %>

<img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F35%2F2019%2F04%2F16045733%2Fbenefits-yoga-fb.jpg&q=85" class="img-responsive" style="width:100%">


<ul>

<h1>This Is Your Profile!</h1>

<h5>Add Your Picture Here >> </h5>

<h3>Products</h3>

<ul>

<h5><a href="/feed"><li>Feed</li></a></h5>
<h5><a href="/dreams"><li>Dreams</li></a></h5>
<h5><a href="/info"><li>Info</li></a></h5>
<h5><a href="/settings"><li>Settings</li></a></h5>

</ul>

</ul>

<% include partials/footer %>
