<% include partials/header %>
 
<img src="https://www.bnnbloomberg.ca/polopoly_fs/1.1322221!/fileimage/httpImage/image.jpg_gen/derivatives/landscape_620/uber-lyft-driver.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to DreamRides by Dreamify!</h1>
             <p>Improving the World of Mobility</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Rides</a>
             </p>
         </div>
     </header>

<h3>Links</h3>
        <h5><a href="/teach"><li>DreamCars</li></a></h5>
        <h5><a href="/courses"><li>DreamBus'</li></a></h5>
        <h5><a href="/courses"><li>DreamBikes</li></a></h5>
        <h5><a href="/courses"><li>DreamTaxis</li></a></h5>
        <h5><a href="/courses"><li>DreamPlanes</li></a></h5>
        <h5><a href="/courses"><li>DreamJets</li></a></h5>
        <h5><a href="/courses"><li>DreamBoats</li></a></h5>
<% include partials/footer %>

