<% include partials/header %>
 
<img src="https://www.jmhs.com/images/blog/managing-teen-screen-time-when-attending-online-high-school-blog-hero.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to DreamSchool by Dreamify!</h1>
             <p>Become the Best Version of Yourself</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Courses</a>
             </p>
         </div>
     </header>

<h3>Links</h3>
        <h5><a href="/teach"><li>Start Teaching</li></a></h5>
        <h5><a href="/courses"><li>Find Courses</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Academics</li></a></h5>
        <h5><a href="/comments"><li>Business</li></a></h5>
        <h5><a href="/content"><li>Design</li></a></h5>
        <h5><a href="/ads"><li>Health & Fitness</li></a></h5>
        <h5><a href="/friends"><li>IT/Software</li></a></h5>
        <h5><a href="/trending"><li>Language</li></a></h5>
        <h5><a href="/productbox"><li>Lifestyle</li></a></h5>
        <h5><a href="/comments"><li>Marketing</li></a></h5>
        <h5><a href="/content"><li>Music</li></a></h5>
        <h5><a href="/ads"><li>Office Productivity</li></a></h5>
        <h5><a href="/friends"><li>Personal Growth</li></a></h5>
        <h5><a href="/trending"><li>Photography</li></a></h5>
        <h5><a href="/comments"><li>Sports</li></a></h5>
    </UL>
    
<% include partials/footer %>

