<% include partials/header %>
 
<img src="https://pmctvline2.files.wordpress.com/2019/06/decade-in-review-best-dramas.jpg?w=620" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Shows on Dreamify!</h1>
             <p>Explore the World of Shows</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Shows</a>
             </p>
         </div>
     </header>


<h3>Links</h3>
        <h5><a href="/productbox"><li>Top Shows</li></a></h5>
        <h5><a href="/comments"><li>Recommended For You</li></a></h5>
        <h5><a href="/content"><li>Trending</li></a></h5>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/productbox"><li>Action</li></a></h5>
        <h5><a href="/comments"><li>Adventure</li></a></h5>
        <h5><a href="/content"><li>Animations</li></a></h5>
        <h5><a href="/friends"><li>Comedy</li></a></h5>
        <h5><a href="/productbox"><li>Drama</li></a></h5>
        <h5><a href="/comments"><li>Mystery</li></a></h5>
        <h5><a href="/friends"><li>Philosophical</li></a></h5>
        <h5><a href="/trending"><li>Political</li></a></h5>
        <h5><a href="/comments"><li>Romance</li></a></h5>
        <h5><a href="/comments"><li>Sage</li></a></h5>
        <h5><a href="/friends"><li>Satire</li></a></h5>
        <h5><a href="/trending"><li>Science Fiction</li></a></h5>
        <h5><a href="/comments"><li>Thriller</li></a></h5>
        <h5><a href="/comments"><li>Urban</li></a></h5>
        <h5><a href="/comments"><li>Western</li></a></h5>
    </UL>

<% include partials/footer %>

