<% include partials/header %>

<img src="https://images.ctfassets.net/yixw23k2v6vo/000000020000925a00000000/2c8f2361f3c0cc6d28ace4ac83d55bf9/iS-9_Things_You_Should_Know_About_Schizophrenia-iStock-874602878.jpg?w=600&h=400&fm=jpg&fit=thumb&q=65&fl=progressive" class="img-responsive" style="width:100%">

<ul>

<h1>Consumer</h1>

<h3>Social</h3>

<UL>
    <a href="/chat"><li>Chat</li></a>
    <p> </p>
    <a href="/boards"><li>Boards</li></a>
    <p> </p>
    <a href="/dreams"><li>Dreams</li></a>
    <p> </p>
    <a href="/videos"><li>Videos</li></a>
    <p> </p>
    <a href="/members"><li>Members</li></a>
    <p> </p>
    <a href="/groups"><li>Groups</li></a>
    <p> </p>
    <a href="/sites"><li>Sites</li></a>
    <p> </p>
    <a href="/journeys"><li>Journeys</li></a>
    <p> </p>
    <a href="/teams"><li>Teams</li></a>
    <p> </p>
</UL>

<% include partials/footer %>
