<% include partials/header %>
 
<img src="https://www.waldengalleria.com/wp-content/uploads/sites/3/2019/11/Shopping_Blog-Feature-Image.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To DreamStore by Dreamify!</h1>
             <p>Buy Amazing Products From All Over the World</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Product</a>
             </p>
         </div>
     </header>

<h3>Full Directory</h3>
    
    <a href="https://www.amazon.com/gp/site-directory?ref_=nav_em__fullstore_0_1_1_40">Amazon</a>
    <p> </p>
    
<h3>Core</h3> 
    
    <a href="/music"><li>Music</li></a>
    <p> </p>
    <a href="/podcasts"><li>Podcasts</li></a>
    <p> </p>
    <a href="/movies"><li>Movies</li></a>
    <p> </p>
    <a href="/shows"><li>Shows</li></a>
    <p> </p>
    <a href="/games"><li>Games</li></a>
    <p> </p>

<h3>Shop By Category</h3>

    <UL>  
        <h5><a href="/productbox"><li>Dreamify Music</li></a></h5>
        <h5><a href="/comments"><li>Tablets</li></a></h5>
        <h5><a href="/content"><li>TV</li></a></h5>
        <h5><a href="/ads"><li>E-readers & Books</li></a></h5>
        <h5><a href="/friends"><li>Appstore for Android</li></a></h5>
        <h5><a href="/trending"><li>DreamStores</li></a></h5>
        <h5><a href="/productbox"><li>Gift Cards</li></a></h5>
        <h5><a href="/comments"><li>International Shopping</li></a></h5>
        <h5><a href="/content"><li>Pet supplies</li></a></h5>
        <h5><a href="/ads"><li>Baby</li></a></h5>
        <h5><a href="/friends"><li>Automotive</li></a></h5>
        
        <h5><a href="/trending"><li>Arts & Crafts</li></a></h5>
        <h5><a href="/comments"><li>Beauty and personal care</li></a></h5>
        <h5><a href="/content"><li>Computers</li></a></h5>
        <h5><a href="/trending"><li>Electronics</li></a></h5>
        <h5><a href="/comments"><li>Women's Fashion</li></a></h5>
        <h5><a href="/content"><li>Men's Fashion</li></a></h5>
        <h5><a href="/trending"><li>Girls' Fashion</li></a></h5>
        <h5><a href="/comments"><li>Boys' Fashion</li></a></h5>
        <h5><a href="/content"><li>Health and Household</li></a></h5>
        <h5><a href="/trending"><li>Home and Kitchen</li></a></h5>
        <h5><a href="/comments"><li>Industrial and Scientific</li></a></h5>
        <h5><a href="/content"><li>Luggage</li></a></h5>
        
        <h5><a href="/trending"><li>Movies & Television</li></a></h5>
        <h5><a href="/comments"><li>Software/li></a></h5>
        <h5><a href="/content"><li>Tools & Home Improvement</li></a></h5>
        <h5><a href="/trending"><li>Toys and Games</li></a></h5>
        <h5><a href="/comments"><li>Video Games</li></a></h5>
        <h5><a href="/content"><li>Customers' Most-Loved Styles</li></a></h5>
    </UL>
    
<% include partials/footer %>

