<% include partials/header %>

<img src="https://assets.entrepreneur.com/content/3x2/2000/20190820185239-GettyImages-985550942.jpeg" class="img-responsive" style="width:100%">

<h1>DreamSuite</h1>

<ul>

<h3><a href="/productbox">Corporate</a></h3>

<h3><a href="/productbox">Operations</a></h3>


     <UL>  
        <h5><a href="/productbox"><li>Project Management</li></a></h5>
        <h5><a href="/comments"><li>Communications</li></a></h5>
    </UL>

<h3><a href="/productbox">Marketing</a></h3>

     <UL>  
        <h5><a href="/productbox"><li>Promotions</li></a></h5>
        
             <UL>  
                <h5><a href="/productbox"><li>Social</li></a></h5>
                <h5><a href="/comments"><li>Emails</li></a></h5>
            </UL>
        
        <h5><a href="/comments"><li>Launches</li></a></h5>
        <h5><a href="/comments"><li>Advertising</li></a></h5>
        <h5><a href="/comments"><li>Sales</li></a></h5>
        <h5><a href="/comments"><li>Calling</li></a></h5>
        <h5><a href="/comments"><li>Testing</li></a></h5>
        <h5><a href="/comments"><li>Customers</li></a></h5>

    </UL>

<h3><a href="/productbox">Engineering</a></h3>

     <UL>  
        <h5><a href="/productbox"><li>Landing Pages</li></a></h5>
        <h5><a href="/comments"><li>Websites</li></a></h5>
    </UL>

<h3><a href="/productbox">Finances</a></h3>

<h3><a href="/productbox">Legal</a></h3>

<h3><a href="/productbox">HR</a></h3>

     <UL>  
        <h5><a href="/productbox"><li>Recruiting</li></a></h5>
        <h5><a href="/comments"><li>Training</li></a></h5>
        <h5><a href="/comments"><li>Staffing</li></a></h5>
    </UL>

</ul>

<% include partials/footer %>
