<% include partials/header %>
 
<img src="https://blog.hubspot.com/hubfs/how-to-edit-youtube-videos%20%281%29.jpg" class="img-responsive" style="width:100%">
  <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to Videos by Dreamify!</h1>
             <p>Explore the World of Videos</p>
             <p>
                <a class="btn btn-primary btn-large" href="/dreams/new">Search Videos</a>
             </p>
         </div>
     </header>

<h3>Categories</h3>

    <UL>  
        <h5><a href="/inspirers"><li>Categories</li></a></h5>
        <h5><a href="/comments"><li>Recommended</li></a></h5>
        <h5><a href="/content"><li>Trending</li></a></h5>
        <h5><a href="/ads"><li>Popular</li></a></h5>
        <h5><a href="/friends"><li>Best of Dreamify</li></a></h5>
        <h5><a href="/trending"><li>Dreamers On the Rise</li></a></h5>
        <h5><a href="/productbox"><li>Music</li></a></h5>
        <h5><a href="/comments"><li>Comedy</li></a></h5>
        <h5><a href="/friends"><li>Film & Entertainment</li></a></h5>
        <h5><a href="/trending"><li>Gaming</li></a></h5>
        <h5><a href="/productbox"><li>Beauty & Fashion</li></a></h5>
        <h5><a href="/comments"><li>Sports</li></a></h5>
        <h5><a href="/trending"><li>Tech</li></a></h5>
        <h5><a href="/productbox"><li>Cooking & Health</li></a></h5>
        <h5><a href="/comments"><li>Politics</li></a></h5>
    </UL>

<% include partials/footer %>
