<% include partials/header %>

<h1>Welcome to Videos by Dreamify!</h1>

<ul>

<h3>Products</h3>

<ul>
<h5><a href="/live"><li>Live</li></a></h5>
<h5><a href="/stories"><li>Stories</li></a></h5>
<h5><a href="/videos2"><li>Videos</li></a></h5>
<h5><a href="/tv"><li>Channels</li></a></h5>
</ul>

</ul>


<p>
    
</p>


<% include partials/footer %>
