<% include partials/header %>

<img src="23415579_1585205024878721_2195248186563409035_o.jpg" class="img-responsive" style="width:100%">


<ul>

<h1>World</h1>

<UL>
    <a href="/events"><li>Events</li></a>
    <p> </p>
    <a href="/experiences"><li>Experiences</li></a>
    <p> </p>
</UL>

<% include partials/footer %>
