<div class="card card-widget">
  <div class="card-header">
    <div class="user-block">
      <img class="img-circle" src="/adminlte/dist/img/user1-128x128.jpg" alt="User Image">
      <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
      <span class="description">Shared publicly - 7:30 PM Today</span>
    </div>
    <div class="card-tools">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-hover dropdown-icon" data-toggle="dropdown">
              <span class="sr-only">Toggle Dropdown</span>
              <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Report</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </button>
        </div>
    </div>
  </div>
  <div class="card-body">
    <p>Far far away, behind the word mountains, far from the
      countries Vokalia and Consonantia, there live the blind
      texts. Separated they live in Bookmarksgrove right at</p>

    <p>the coast of the Semantics, a large language ocean.
      A small river named Duden flows by their place and supplies
      it with the necessary regelialia. It is a paradisematic
      country, in which roasted parts of sentences fly into
      your mouth.</p>
  </div>
  <div class="card-footer card-comments border-top">
     <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
     <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
     <span class="float-right text-muted">45 likes - 2 Shares</span>
  </div>
</div>